/* color and fonts for the entire page */
:root   {
    --blue: rgb(186, 247, 235);
    --dark-blue:rgb(119, 196, 212);
    --yellow: rgb(251, 220, 105);
    --orange: rgb(248, 137, 67);
    --warm-transition:linear-gradient(270deg, rgb(251, 220, 105), rgb(248, 137, 67));
    --cool-transition:linear-gradient(rgb(186, 247, 235), rgb(119, 196, 212));

    --head-font: 'Tourney', cursive;
    --body-font: 'Josefin Slab', serif;
}

body    {
    height:150vh;
    width:101vw;
    min-width: fit-content;
    background: var(--cool-transition);
    margin:0;
    padding:5px;
    position:absolute;
}

div.welcome-card    {
    margin-top:30px;
    padding:0px;
    height:100%;
    background: none;
    box-shadow: none;
}

div.welcome-card-child  {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--orange);
}

div.welcome-card-child > h2   {
    font-size: 30px;
    width:100%;
    text-align: center;
    background-color: var(--yellow);
}

div.welcome-card-child > p    {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

main.columns    {
    display: flex;
    align-content: space-between;
    padding-left:5px;
    padding-right:5px;
    height:80%;
}

/* header is top layer and unaffected by rest of page */
header.columns    {
    background: var(--warm-transition);
    padding: 15px;
    z-index: 100;
}

img.icon {
    width:80px;
    height:auto;
}

div.title   {
    display:flex;
    align-items: center;
}

/* this is the only place that head-font is used */
h1   {
    font-size:40px;
    font-family: var(--head-font);
    margin:0px;
}

/* use body-font for all othere text elements */
h2, h3, p, .breadcrumb  {
    font-family: var(--body-font);
    max-width: 100%;
    white-space: normal;
}

p   {
    text-align: center;
    width:100%;
}

/* position is fixed so that it can overlap the h1 element slightly */
h2.title-description  {
    font-size:1.5rem;
    text-align: right;
}

h2.favorites    {
    text-align: center;
    background-color: var(--orange);
}

section {
    border:1px solid var(--orange);
}

/* display the gif in this card, remove the shadow provided from Bulma */
div.gif-and-joke.card {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: none;
    background: none;
}

/* make the imported gif a constant height */
img.random-dad-image    {
    max-height:100%;
    width:400px;
}

figure.image    {
    max-height:400px;
    overflow:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

div.joke-display  {
    display: flex;
    background-color: white;
    font-family: var(--body-font);
    width:400px;
}

p.joke-display  {
    font-size: 30px;
}

#favButton {
    display: none;
    cursor: pointer;
    margin: 0 7px;
    max-width: 48px;
}

#jokeDisplay {
    align-self: center;
    margin: 0 10px 0 0;
}

button.button  {
    border-radius: 10px;
    border:none;
    box-shadow:none;
    background: var(--warm-transition);
    font-family: var(--body-font);
    margin-top:5px;
    margin-bottom:10px;
    z-index:80;
    font-size:20px;
}

div.favorites-list  {
    padding:5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:98%;
}

div.main-content-container  {
    border:1px solid var(--orange);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:100%;
}

button.clear-button     {
    position: sticky;
    bottom:15px;
}

button.cringe.button   {
    position: sticky;
    bottom:15px;
}

button:hover, button:active    {
    background: var(--orange);
}


main.columns > section.no-display, main.columns > div.no-display  {
    display: none;
}

button.xbtn {
    font-family: var(--body-font);
    border:none;
    font-size:15px;
    background: none;
    margin-top:8px;
}

button.xbtn:hover {
    color:var(--orange);
    cursor:pointer;
}

@media screen and  (max-width: 768px){
    main.columns    {
        flex-direction: column;
    }

    header.columns  {
        padding:0px;
    }

    div.welcome-card-child > h2   {
        font-size: 15px;
    }
    
    div.welcome-card-child > p    {
        font-size: 10px;
    }

    h1    {
        font-size:30px;
    }

    h2.title-description    {
        font-size:20px;
    }

    h2  {
        font-size: 20px;
    }

    p   {
        font-size: 5px;
    }

    p.joke-display  {
        font-size: 10px;
    }  
    
    button.button   {
        font-size: 15px;
    }

    div.main-content-container  {
        height:90vh;
    }

    div.gif-and-joke.card   {
        max-height:300px;
    }
};