/* color and fonts for the entire page */
:root   {
    --blue: rgb(186, 247, 235);
    --dark-blue:rgb(119, 196, 212);
    --yellow: rgb(251, 220, 105);
    --orange: rgb(248, 137, 67);
    --warm-transition:linear-gradient(270deg, rgb(251, 220, 105), rgb(248, 137, 67));
    --warm-transition-backwards:linear-gradient(90deg, rgb(251, 220, 105), rgb(248, 137, 67));
    --cool-transition:linear-gradient(rgb(186, 247, 235), rgb(119, 196, 212));

    --head-font: 'Tourney', cursive;
    --body-font: 'Nixie One', cursive;
}

body    {
    height:105vh;
    background: var(--cool-transition);
    overflow-x: hidden;
    padding:5px;
}

div.welcome-card    {
    margin-top:30px;
    background:var(--orange);
    padding:0px;
}

div.welcome-card > h2   {
    font-size: 20px;
    width:100%;
    text-align: center;
    background-color: var(--yellow);
}

div.welcome-card > p    {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

main.columns    {
    height:92%;
    margin-bottom:-0.75rem;
    display: flex;
    /* flex-direction: column; */
    align-content: space-between;
}

/* header is top layer and unaffected by rest of page */
header.columns    {
    background: var(--warm-transition);
    padding: 15px;
    z-index: 100;

}

/* this is the only place that head-font is used */
h1.column    {
    font-size:40px;
    font-family: var(--head-font);
    padding:5px;
}

/* use body-font for all othere text elements */
h2, h3, p, .breadcrumb  {
    font-family: var(--body-font);
    max-width: 100%;
    white-space: normal;
}

/* position is fixed so that it can overlap the h1 element slightly */
h2.title-description  {
    font-size:1.5rem;
    vertical-align: text-bottom;
    text-align: right;
}

h2.favorites    {
    text-align: center;
    background-color: var(--orange);
}

div.main-content-container  {
    border:1px solid var(--orange);
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* display the gif in this card, remove the shadow provided from Bulma */
div.gif-and-joke.card.has-text-centered {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    background: none;
}

section {
    border:1px solid var(--orange);
}

figure.image    {
    width:80%;
}
/* make the imported gif the width of the page */
img.random-dad-image    {
    /* height:400px; */
    width:100%;
}

div.joke-display  {
    background-color: white;
    font-family: var(--body-font);
    width:80%;
}

button.button  {
    border-radius: 10px;
    border:none;
    box-shadow:none;
    background: var(--warm-transition);
    font-family: var(--body-font);
    margin-top:5px;
    margin-bottom:10px;
    z-index:80;
}

button:hover, button:active    {
    background: var(--warm-transition-backwards);
}

div.favorites-list  {
    padding:5px;
}

main.columns > section.no-display, main.columns > div.no-display  {
    display: none;
}

img.icon {
    height:200px;
    width:auto;
    z-index:1;
    position:absolute;
    bottom:0;
    right:0;

}

